In [1]:
import pandas as pd 

customer_df = pd.read_csv("CustomerFile 062421 - 070721.csv")
email_df = pd.read_csv("Week1_Email_0701_0707.csv")
email_df = email_df.drop_duplicates()

In [2]:
# datatypes
print(customer_df.dtypes)
print(email_df.dtypes)

Email_MD5        object
Purchase_Date    object
dtype: object
EmailMD5          object
Delivered_Date    object
Creative          object
dtype: object

In [3]:
# Number of Unique emails          

print(len(customer_df['Email_MD5'].unique()))
print(len(email_df['EmailMD5'].unique()))

1502
1310

In [4]:
# min and max of dates
print("Customer file", customer_df['Purchase_Date'].agg(['min', 'max']))
print("Email file", email_df['Delivered_Date'].agg(['min', 'max']))

Customer file min    06/24/2021
max    07/13/2021
Name: Purchase_Date, dtype: object
Email file min    7/1/2021
max    7/7/2021
Name: Delivered_Date, dtype: object

In [5]:
# merging two datframes
matched_df = pd.merge(customer_df, email_df, left_on='Email_MD5', right_on='EmailMD5')
matched_df = matched_df.drop_duplicates()
print(len(matched_df))
matched_df.head()

299

,Email_MD5,Purchase_Date,EmailMD5,Delivered_Date,Creative
0,a149c0dbf4d95421005a69bd84640486,06/30/2021,a149c0dbf4d95421005a69bd84640486,7/5/2021,Creative2
1,a149c0dbf4d95421005a69bd84640486,07/02/2021,a149c0dbf4d95421005a69bd84640486,7/5/2021,Creative2
2,6c2268ff4ba1e95d8a37737f6cc5606b,07/12/2021,6c2268ff4ba1e95d8a37737f6cc5606b,7/6/2021,Creative1
3,6c2268ff4ba1e95d8a37737f6cc5606b,07/05/2021,6c2268ff4ba1e95d8a37737f6cc5606b,7/6/2021,Creative1
4,439ff45be1d7ed8c9cb7ba182a2c85ab,06/29/2021,439ff45be1d7ed8c9cb7ba182a2c85ab,7/2/2021,Creative3

In [6]:
#converting to dateetime to calculate the difference

matched_df['Purchase_Date'] = pd.to_datetime(matched_df['Purchase_Date'])
matched_df['Delivered_Date'] = pd.to_datetime(matched_df['Delivered_Date'])
matched_df['difference'] = (matched_df['Purchase_Date']-matched_df['Delivered_Date']).dt.days
matched_df['difference']

0     -5
1     -3
2      6
3     -1
4     -3
      ..
301   -9
302    0
303   -2
304    5
305   -7
Name: difference, Length: 299, dtype: int64

In [7]:
# query the dataframe with difference btween dates 0 to 3
print(len(matched_df.query("difference <= 3 and difference >= 0")))

# save the results in csv format
matched_df.query("difference <= 3 and difference >= 0").to_csv("matched.csv",index=False)

64

In [8]:
# group by and get the number of records for matched_df
matched_df = pd.read_csv("matched.csv")
print(matched_df.groupby('Creative').size())
print(matched_df.groupby('Delivered_Date').size())

Creative
Creative1    19
Creative2    18
Creative3    27
dtype: int64
Delivered_Date
2021-07-01     9
2021-07-02    18
2021-07-03     9
2021-07-04     1
2021-07-05    14
2021-07-06     7
2021-07-07     6
dtype: int64

In [9]:
# group by and get the number of records for campaign dataframe
print(email_df.groupby('Creative').size())
print(email_df.groupby('Delivered_Date').size())

Creative
Creative1    437
Creative2    437
Creative3    436
dtype: int64
Delivered_Date
7/1/2021    188
7/2/2021    187
7/3/2021    187
7/4/2021    187
7/5/2021    187
7/6/2021    187
7/7/2021    187
dtype: int64

In [10]:
print(matched_df.groupby(['Creative','Delivered_Date']).size())

Creative   Delivered_Date
Creative1  2021-07-01        6
           2021-07-02        8
           2021-07-03        1
           2021-07-04        1
           2021-07-05        2
           2021-07-07        1
Creative2  2021-07-02        4
           2021-07-03        5
           2021-07-05        6
           2021-07-06        1
           2021-07-07        2
Creative3  2021-07-01        3
           2021-07-02        6
           2021-07-03        3
           2021-07-05        6
           2021-07-06        6
           2021-07-07        3
dtype: int64